/*
Samuel Fisher
CSE 383 - Section C
Dr. Johnson
December 9, 2021
Final Project - History page CSS
*/
body {
    margin:auto;
    width:50%;
    text-align:center;
    background-color:Crimson;
    font-family: "Lucida Console", "Courier New", monospace;
}

#menuRow {
    margin-top:20px;
    padding-top:15px;
    padding-bottom:15px;
    border-style:dotted;
    border-color:white;
    text-align:center;
}

#requestRow {
    padding-top:20px;
}

#reqButRow {
    padding-top:20px;
}

#respRow {
    padding-top:20px;
}

#historyContainer {
    margin-top:25px;
    border-style:solid;
    border-width:2px;
    background-color:Gainsboro;
}

#dbImg {
    margin:auto;
}

.container {
    margin:auto;
}

button {
    padding:8px;
    margin:auto;
}

